FORMAT: 1A
HOST: http://apps.appmonsta.com:8080/


# Ripley API

Ripley is API for getting various app store and engagement metrics on apps.

## Login [/v1/login]

### Login [POST]

+ Request (application/json)

        {
            "username": "ripley",
            "password": "password"
        }

+ Response 200 (application/json)

            {
                "user": "ripley"
            }
            
+ Response 401 (application/json)

        {}
        

## Logout [/v1/logout]

### Logout [POST]

+ Response 204 (application/json)


## Signup [/v1/signup]

### Signup [POST]

+ Request (application/json)

        {
        "username": "blaz",
        "password": "pass",
        "email": "blaz@appmonsta.com"
        }
        
+ Response 201 (application/json)

        {
        "username": "blaz",
        "email": "blaz@appmonsta.com"
        }


## Change password [/v1/change_password]

### Change password [POST]

+ Request (application/json)
    
        {
            "old_password": "old",
            "new_password1": "new
        }
        

+ Response 200 (application/json)
        
## User [/v1/user]

### Get user [GET]

+ Response 200 (application/json)

            {
                "user": "ripley"
            }

### Update user [PUT]

+ Request (application/json)

        {
            "email": "new@email.com"
        }

+ Response 200 (application/json)

## Search Collection [/v1/search?term={term}&page={page}]

+ Parameters
    + term (string, `facebook`) - term: app id, app name, publisher name, publisher id.
    + page (string, optional, `1`) - page: which results page to return.


### List of search results [GET]

+ Response 200 (application/json)
    
        { 
            "hasNextPage": true,
            "results": [
                {
                    "id": 1,
                    "dau": 32,
                    "app_id": "com.facebook.katana", 
                    "app_name": "Facebook",
                    "publisher_name": "Facebook",
                    "publisher_id": "com.facebook",
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                },{
                   "id": 2,
                   "dau": 2,
                   "app_id": "com.facebook.orca", 
                   "app_name": "Messenger",
                   "publisher_name": "Facebook",
                   "publisher_id": "com.facebook",
                   "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                },
                {
                    "id": 3,
                    "dau": 7,
                    "app_id": "co.facebook.katana", 
                    "app_name": "Mocekd Facebook",
                    "publisher_name": "Facebook",
                    "publisher_id": "com.facebook",
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                }
            ]
        }

## App Countries [/v1/apps/{app_id}/countries]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - App id for which we want list of countries in which it is available.


### List of countries [GET]

+ Response 200 (application/json)
    
        [
            {"name":"Germany", "code":"DE"},
            {"name":"USA", "code":"US"},
            {"name":"France", "code":"FR"},
            {"name":"UK", "code":"UK"},
            {"name":"Russia", "code":"RU"},
            {"name":"Australia", "code":"AU"}
        ]

## Related Apps Collection [/v1/apps/{app_id}/related]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - App id for which we want related apps.


### List of related apps [GET]

+ Response 200 (application/json)
    
        {
            "app_id": "com.facebook.app",
            "related": [
                {
                    "app_id": "com.facebook.katana",
                    "app_name": "Facebook",
                    "publisher_name": "Facebook",
                    "publisher_id": "com.facebook",
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                },
                {
                    "app_id": "com.facebook.orca",
                    "app_name": "Messenger",
                    "publisher_name": "Facebook",
                    "publisher_id": "com.facebook",
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                    
                }
            ]
        }


## Publisher Apps Collection [/v1/publishers/{publisher_id}/apps]

+ Parameters
    + publisher_id (string, required, `Facebook`) - App id for which we want related apps.

### Publisher apps list [GET]

+ Response 200 (application/json)
    
        {
            "publisher_name": "Facebook",
            "publisher_id": "com.facebook",
            "apps":
            [{
                "app_id": "com.facebook.katana",
                "app_name": "Facebook",
                "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
             },{
                "app_id": "com.facebook.orca", 
                "app_name": "Messenger",
                "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
            }]
        }


## App Features Collection [/v1/apps/{app_id}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.

### App features data [GET]

+ Response 200 (application/json)

        {
            "all_histogram": {
                "1": "3128085",
                "3": "1986062",
                "2": "1003094",
                "5": "11107651",
                "4": "3298626"
            },
            "all_rating": "3.9",
            "all_rating_count": 20523518,
            "app_name": "Messenger",
            "content_rating": "Everyone",
            "description": "Instantly reach the people in your life\u2014for free. Messenger is just like texting, but you don't have to pay for every message (it works with your data plan).<p>Not just for Facebook friends: Message people in your phone book and just enter a phone number to add a new contact.</p><p>Group chats: Create groups for the people you message most. Name them, set group photos and keep them all in one place.</p><p>Photos and videos: Shoot videos and snap selfies or other photos right from the app and send them with one tap.</p><p>Chat heads: Keep the conversation going while you use other apps. </p><p>Free calls: Talk as long as you want, even with people in other countries. (Calls are free over Wi-Fi. Otherwise, standard data charges apply.)</p><p>Even more ways to message: <br>Bring your conversations to life with stickers. <br>Preview your gallery photos and videos without leaving the conversation--then choose the perfect ones to send.<br>Record voice messages when you have more to say.</p><p>Extra features:<br>Know when people have seen your messages.<br>Forward messages or photos to people who weren't in the conversation.<br>Search for people and groups to quickly get back to them.<br>Turn on location to let people know when you're nearby.<br>See who's available on Messenger and who's active on Facebook. <br>Create shortcuts to get to any conversation right from your home screen.<br>Turn off notifications when you're working, sleeping or just need a break.<br>Stay logged in so you never miss a message.</p>",
            "downloads": "1,000,000,000 - 5,000,000,000",
            "file_size": "Varies with device",
            "genre": "Communication",
            "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300",
            "app_id": "com.facebook.orca",
            "price": "$0.99",
            "publisher_id": "com.facebook",
            "publisher_email": "android-support@fb.com",
            "publisher_name": "Facebook",
            "publisher_url": "http://www.facebook.com/apps/application.php?id=256002347743983",
            "requires_os": "Varies with device",
            "screenshot_urls": [
                "https://lh5.ggpht.com/S3udjKLR0045VRTGmKSCRq6n_-JVM084xH36SYUmjRnc8zZ2Gcq8eL7bixe-cscP_A=h310",
                "https://lh4.ggpht.com/Idi8NCyRZHGQ8V1h64dGqD-N7PGym27FghdYtRqCY1H5HP5wRZwjISS8RB2XXnwh6Q=h310",
                "https://lh6.ggpht.com/reXX4Sm0tmG5vu534eddDzgBW8R3s3ysmVCpMuXphHSDXct92G8vRpJQis7ZgCHe0Q=h310",
                "https://lh5.ggpht.com/2FjQK1nkRoihPnafEG3KxuO5UkRDjZKfHUPcZgtz1jgB-zpKg9tduPEuX2jjK23WpwKv=h310",
                "https://lh5.ggpht.com/dH_Znb__NjJkyQ0_HW4TPniO3pnfXqhVF9xQ2r06bj_z0PGXIKIIxw0GlvDmKWYUDw=h310",
                "https://lh6.ggpht.com/qvqDEwA-q0qKrXMfMTaI6GYymqI1sdmS00QYoEYNn_fR2Eh2hIsHKs-D_9c1q9EV5m7N=h310"
            ],
            "last_events": [],
            "status": "updated",
            "status_date": "October 21, 2015",
            "version": "Varies with device",
            "video_urls": [],
            "whats_new": "Fixed several layout bugs."
        }


## App Events Collection [/v1/apps/{app_id}/events?{&from,to}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.
    + from (string, required, `2015-10-01`) - Start date.
    + to (string, required, `2015-10-02`) - End date.

### App events data [GET]

+ Response 200 (application/json)

        {
            "country": "US",
            "app_id": "com.facebook.orca",
            "from": "2015-10-11",
            "to": "2015-11-11",
            "events": [
                    {"date": "2015-09-30", "type": "description_hist", "value": "One"},
                    {"date": "2015-10-02", "type": "whats_new_hist", "value": "Updates #1"},
                    {"date": "2015-11-09", "type": "icon_hist", "value": "url #2", "old_value": "url #1"},
                    {"date": "2015-11-10", "type": "screenshots_hist", "value": []},
                    {"date": "2015-11-11", "type": "version_hist", "value": "v2", "old_value": "v1"},
                    {"date": "2015-11-15", "type": "price_hist", "value": "$0.99", "old_value": "$1.99"},
                    {"date": "2015-11-21", "type": "status_updates_hist", "value": "updated"}
                ]
        }

## App Engagement Collection [/v1/apps/{app_id}/engagement?{&from,to,country}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.
    + from (string, required, `2015-10-01`) - Start date.
    + to (string, required, `2015-10-02`) - End date.
    + country (string, required, `US`) - Two letter country code.


### App engagement data [GET]

+ Response 200 (application/json)

        {
            "country": "US",
            "app_id": "com.facebook.orca",
            "from": "2015-10-11",
            "to": "2015-10-17",
            "metrics": {
                "dau": [],
                "mau": [3, 4, 5, 3, 4, 5, 3],
                "installs": [10, 11, null, 10, 15, 14, 13],
                "uninstalls": [1, 1, 2, 1, 0, 0, 0],
                "sessions": [],
                "session_time": [240, null, 200, 210, 220, 200, 250],
                "day_time": [40, null, 100, null, 20, 200, 250],
                "retention": {
                    "1 day retention": [0.5, 0.4, 0.5, 0.6, 0.7, 0.8, 0.7],
                    "7 day retention": [0.4, 0.3, 0.4, 0.4, 0.5, 0.4, 0.4],
                    "14 day retention": [0.3, 0.3, 0.3, 0.3, 0.4, 0.2, 0.2]
                }
            }
        }

## App Engagement Country Data [/v1/apps/{app_id}/country_engagement?{&date}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app
    + date (string, required, `2015-10-02`) - date for which to fetch country data

### App engagement country data [GET]
+ Response 200 (application/json)

        {
            "app_id": "com.facebook.orca",
            "date": "2015-10-11",
            "data": [
                {"country_code": "US", "country_name": "USA", "dau_percent": 0.2, "relative_installs_per_country": 0.4},
                {"country_code": "UK", "country_name": "UK", "dau_percent": 0.17555, "relative_installs_per_country": 0.2555},
                {"country_code": "DE", "country_name": "Germany", "dau_percent": 0.12, "relative_installs_per_country": 0.14},
                {"country_code": "AU", "country_name": "Australia", "dau_percent": 0.17, "relative_installs_per_country": 0.16},
                {"country_code": "AT", "country_name": "Austria", "dau_percent": 0.02, "relative_installs_per_country": 0.04},
                {"country_code": "CH", "country_name": "Switzerland", "dau_percent": 0.07, "relative_installs_per_country": 0.06},
                {"country_code": "SI", "country_name": "Siria", "dau_percent": 0.1, "relative_installs_per_country": 0.1}
            ]
        }
            
            


## App Reviews Counts Collection [/v1/apps/{app_id}/review_counts?{&from,to}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.
    + from (string, required, `2015-10-01`) - Start date.
    + to (string, required, `2015-10-02`) - End date.

### App reviews counts data [GET]

+ Response 200 (application/json)

        {
            "app_id": "com.facebook.orca",
            "from": "2015-10-10",
            "to": "2015-10-16",
            "counts": {
                "all": [30, 30, 30, 30, 34, 44, 45],
                "exuberant": [3, 4, 5, 3, 4, 5, 3],
                "crashy": [10, 11, null, 10, 15, 14, 13],
                "addictive": [1, 1, 2, 1, 0, 0, 0]
            }
        }

## App Reviews Collection [/v1/apps/{app_id}/reviews?{&q,start_date,end_date,tag,page}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.
    + q (string, optional)    - Search query string.
    + start_date (string, required, `2015-10-01`) - Start date.
    + end_date (string, required, `2015-10-02`) - End date.
    + tag (string, optional, `crashy`) - Review tag.
    + page (number, optional, `1`) - Page number for paginated results.


### App reviews data [GET]

+ Response 200 (application/json)

        {
            "app_id": "com.facebook.orca",
            "start_date": "2015-10-11",
            "end_date": "2015-09-11",
            "hasNextPage": true,
            "reviews": [
                {
                    "rating": 2.0,
                    "user_id": "117344831903115156218",
                    "language": "en",
                    "title": "Doesn't Notify",
                    "user_name": "Alexa Gon",
                    "user_pic_url": "https://lh3.googleusercontent.com/--BnCLQ_n0Lk/AAAAAAAAAAI/AAAAAAAAAFE/KUdmrcPHXeY/w137-c-h137/photo.jpg",
                    "review_text": "It used to notify me of everything just fine, but after an update it kept telling me that the people didn't receive a message when they did, and it wouldn't tell me that I got a new message until I picked up my phone and checked it. Very unreliable, please fix and I'll change my rating.",
                    "date": "2015-10-27",
                    "id": "e1bffecbe1fd2f40a64b468c8df31f6f"
                },{
                    "rating": 3.0,
                    "user_id": "113365958827050111013",
                    "language": "en",
                    "title": null,
                    "user_name": "Agha Amin",
                    "user_pic_url": "https://lh5.googleusercontent.com/-422c37jgI3Y/AAAAAAAAAAI/AAAAAAAAAOc/mmzr7T41K2M/w137-c-h137/photo.jpg",
                    "review_text": "Its good to meet peoples if you don't have time to meet them personally",
                    "date": "2015-10-27",
                    "unix_timestamp": 1445904000,
                    "date_str": "October 27, 2015",
                    "id": "e119681bda9b5a86bf7e1f1053019197"
                }
            ]
        }


## App Rankings Collection [/v1/apps/{app_id}/rankings?{&from,to,country}]

+ Parameters
    + app_id (string, required, `com.facebook.orca`) - ID of the app.
    + from (string, required, `2015-10-01`) - Start date.
    + to (string, required, `2015-10-02`) - End date.
    + country (string, required, `UK`) - Two letter country code.

### App rankings data [GET]

+ Response 200 (application/json)

        {
            "country": "US",
            "app_id": "com.facebook.orca",
            "from": "2015-10-11",
            "to": "2015-10-15",
            "rankings": {
                "Top Free": [4, 6, 5, null, 1, 7, 2, 6, 1, null, null, null, null, 9, 8, 9, 9, 9, 5, 3, 2, 8, 6, 4, 1, 7, 3, 5, 8, 8, 6, 9, 10, 3, 8, 8, 8, 10, 2, 3, 10, 10, 5, 7, 4, 10, 2, 6, 4, 2, 5, 1, 10, 6, 1, 5, 9, 9, 2, 8, 9, 5, 9, 6, 8, 8, 10, 9, 7, 7, 6, 8, 3, 10, 4, 3, 1, 8, 1, 10, 2, null, 7, 2, 1, 5, 5, 4, 9, 7],
                "Trending Apps": [360, 376, 270, 276, 395, 223, 207, 436, 233, 485, 209, 441, 344, 376, 457, 436, 319, 416, 328, 237, 265, 236, 348, 312, 484, 481, 296, 307, 392, 309, 251, 396, 361, 389, 308, 266, 359, 359, 339, 263, 207, 292, 327, 299, 419, 462, 485, 453, 227, 468, 365, 424, 398, 420, 276, 212, 360, 397, 284, 324, 244, 235, 311, 471, 209, 453, 443, 232, 283, 361, 259, 227, 308, 394, 323, 311, 319, 421, 474, 267, 209, 237, 237, 390, 255, 345, null, null, null, null],
                "Top Free Action": [1, 3, 6, 3, 9, 9, 8, 5, 4, 2, 1, 4, 6, 3, 2, 3, 9, 2, 1, 3, 8, 6, 2, 3, 9, 1, 7, 9, 6, 4, 6, 5, 1, 4, 5, 9, 10, 1, 1, 9, 3, 10, 5, 10, 6, 2, 5, 1, 2, 1, 2, 3, 6, 10, 10, 1, 2, 4, 4, 2, 1, 4, 6, 1, 7, 10, 3, 3, 9, 3, 9, 5, 3, 9, 8, 2, 9, 6, 10, 4, 1, 4, 8, 4, 1, 2, 6, 2, 3, 10]
            }
        }

## Groups Collection [/v1/groups]

### List all groups [GET]

+ Response 200 (application/json)

        [
            {
            "group_name": "Crazy hamsters",
            "group_id": "1"
            },
            {
            "group_name": "Crazy dogs",
            "group_id": "2"
            },
            {
            "group_name": "Insane aliens",
            "group_id": "3"
            }
        ]

### Create a new group [POST]

+ Request (application/json)

        {
            "group_name": "Quiet farts",
            "apps": [
                "com.facebook.orca",
                "com.facebook.catana"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: "4"

 + Body

            {
                "group_name": "Quiet farts",
                "id": "4",
            }


## Group Collection [/v1/groups/{group_id}]

+ Parameters
    + group_id (string, required, `1`) - ID of the group.


### Get group details [GET]

+ Response 200 (application/json)

        {
            "group_name": "Crazy hamsters",
            "group_id": "1",
            "apps": [
                {
                    "app_id": "com.facebook.orca",
                    "app_name": "Messenger",
                    "all_rating": "4.2",
                    "all_rating_count": 15523518,
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300",
                    "genre": "Communication"
                },
                {
                    "app_id": "com.facebook.katana",
                    "app_name": "Facebook",
                    "all_rating": "4.5",
                    "all_rating_count": 6523518,
                    "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300",
                    "genre": "Social"
                }
            ]
        }
        
### Edit a group [PUT]

+ Request (application/json)

        {
            "group_name": "Quiet farts1",
            "apps": [
                "com.facebook.orca",
                "com.facebook.catana"
            ]
        }


+ Response 200

        {
            "group_name": "Quiet farts1",
            "apps": [
                "com.facebook.orca",
                "com.facebook.catana"
            ]
        }

### Delete a group [DELETE]

+ Response 204

## Group Countries [/v1/groups/{group_id}/countries]

+ Parameters
    + group_id (string, required, `1`) - Group id for which we want list of countries for its apps.

### List of countries [GET]

+ Response 200 (application/json)

        {
            "group_id": "1",
            "countries": [
                {"name":"Germany", "code":"DE"},
                {"name":"USA", "code":"US"},
                {"name":"France", "code":"FR"},
                {"name":"UK", "code":"UK"},
                {"name":"Russia", "code":"RU"},
                {"name":"Australia", "code":"AU"}
            ]
        }

## Group Engagement Collection [/v1/groups/{group_id}/engagement?{&from,to,country}]

+ Parameters
    + group_id (string, required, `1`) - ID of the group.
    + from (string, required, `2015-10-01`) - Start date.
    + to (string, required, `2015-10-02`) - End date.
    + country (string, required, `UK`) - Two letter country code.

### Group engagement metrics [GET]

+ Response 200 (application/json)

        
        {
            "from": "2015-10-11",
            "to": "2015-10-17",
            "country": "US",
            "group_id": "1",
            "apps":
            [
                {
                    "app_id": "com.facebook.orca",
                    "metrics": {
                       
                        "mau": [3, 4, 5, 3, 4, 5, 3],
                        "installs": [10, 11, null, 10, 15, 14, 13],
                        "uninstalls": [1, 1, 2, 1, 0, 0, 0],
                        "sessions": [3, 4, 5, 3, 3, 4, 5],
                        "session_time": [240, null, 200, 210, 220, 200, 250],
                        "day_time": [40, null, 100, null, 20, 200, 250],
                        "retention": {
                            "1 day retention": [0.5, 0.4, 0.5, 0.6, 0.7, 0.8, 0.7],
                            "7 day retention": [0.4, 0.3, 0.4, 0.4, 0.5, 0.4, 0.4],
                            "14 day retention": [0.3, 0.3, 0.3, 0.3, 0.4, 0.2, 0.2]
                        }
                    }
                },
                {
                    "app_id": "com.facebook.katana",
                    "metrics": {
                        "dau": [4, 2, 5, 3, 2, 3, 4],
                        "mau": [5, 4, 0, 4, 4, 5, 3],
                        "installs": [10, 11, 3, 10, 15, 14, 13],
                        "uninstalls": [1, 1, 2, 1, 2, 1, 4],
                        "sessions": [4, 4, 5, null, 3, 4, 5],
                        "session_time": [240, 26, 200, 210, 220, 200, 250],
                        "day_time": [40, 70, 100, null, 20, 200, 250],
                        "retention": {
                            "1 day retention": [0.7, 0.4, 0.5, 0.6, 0.3, 0.8, 0.7],
                            "7 day retention": [0.4, 0.5, 0.4, 0.4, 0.1, 0.4, 0.4],
                            "14 day retention": [0.3, 0.4, 0.3, 0.3, 0.1, 0.2, 0.2]
                        }
                    }
                }
            ]
        }

        
## Group Rankings Collection [/v1/groups/{group_id}/rankings?{&start_date,end_date,country}]

+ Parameters
    + group_id (string, required, `1`) - ID of the group.
    + start_date (string, required, `2015-10-01`) - Start date.
    + end_date (string, required, `2015-10-02`) - End date.
    + country (string, required, `UK`) - Two letter country code.

### Group rankings metrics [GET]

+ Response 200 (application/json)

        {
            "country": "US",
            "group_id": "1",
            "start_date": "2015-10-11",
            "end_date": "2015-09-11",
            "rankings": {
                "com.facebook.orca": {
                    "Top Free": [4, 6, 5, null, 1, 7, 2, 6, 1, null, null, null, null, 9, 8, 9, 9, 9, 5, 3, 2, 8, 6, 4, 1, 7, 3, 5, 8, 8, 6, 9, 10, 3, 8, 8, 8, 10, 2, 3, 10, 10, 5, 7, 4, 10, 2, 6, 4, 2, 5, 1, 10, 6, 1, 5, 9, 9, 2, 8, 9, 5, 9, 6, 8, 8, 10, 9, 7, 7, 6, 8, 3, 10, 4, 3, 1, 8, 1, 10, 2, null, 7, 2, 1, 5, 5, 4, 9, 7],
                    "Trending Apps": [360, 376, 270, 276, 395, 223, 207, 436, 233, 485, 209, 441, 344, 376, 457, 436, 319, 416, 328, 237, 265, 236, 348, 312, 484, 481, 296, 307, 392, 309, 251, 396, 361, 389, 308, 266, 359, 359, 339, 263, 207, 292, 327, 299, 419, 462, 485, 453, 227, 468, 365, 424, 398, 420, 276, 212, 360, 397, 284, 324, 244, 235, 311, 471, 209, 453, 443, 232, 283, 361, 259, 227, 308, 394, 323, 311, 319, 421, 474, 267, 209, 237, 237, 390, 255, 345, null, null, null, null],
                    "Top Free Action": [1, 3, 6, 3, 9, 9, 8, 5, 4, 2, 1, 4, 6, 3, 2, 3, 9, 2, 1, 3, 8, 6, 2, 3, 9, 1, 7, 9, 6, 4, 6, 5, 1, 4, 5, 9, 10, 1, 1, 9, 3, 10, 5, 10, 6, 2, 5, 1, 2, 1, 2, 3, 6, 10, 10, 1, 2, 4, 4, 2, 1, 4, 6, 1, 7, 10, 3, 3, 9, 3, 9, 5, 3, 9, 8, 2, 9, 6, 10, 4, 1, 4, 8, 4, 1, 2, 6, 2, 3, 10]
                },
                "com.facebook.katana": {
                    "Top Free": [4, 1, 5, null, 1, 1, 2, 6, 1, 6, null, null, null, 9, 8, 9, 9, 9, 5, 3, 2, 8, 6, 4, 1, 7, 3, 5, 8, 8, 6, 9, 10, 3, 8, 8, 8, 10, 2, 3, 10, 10, 5, 7, 4, 10, 2, 6, 4, 2, 5, 1, 10, 6, 1, 5, 9, 9, 2, 8, 9, 5, 9, 6, 8, 8, 10, 9, 7, 7, 6, 8, 3, 10, 4, 3, 1, 8, 1, 10, 2, null, 7, 2, 1, 5, 5, 4, 9, 7],
                    "Trending Apps": [36, 376, 270, 276, 45, 223, 207, 436, 233, 485, 209, 441, 344, 376, 457, 436, 319, 416, 328, 237, 265, 236, 348, 312, 484, 481, 296, 307, 392, 309, 251, 396, 361, 389, 308, 266, 359, 359, 339, 263, 207, 292, 327, 299, 419, 462, 485, 453, 227, 468, 365, 424, 398, 420, 276, 212, 360, 397, 284, 324, 244, 235, 311, 471, 209, 453, 443, 232, 283, 361, 259, 227, 308, 394, 323, 311, 319, 421, 474, 267, 209, 237, 237, 390, 255, 345, null, null, null, null],
                    "Top Free Action": [10, 3, 6, 3, 9, 2, 8, 5, 4, 2, 1, 4, 6, 3, 2, 3, 9, 2, 1, 3, 8, 6, 2, 3, 9, 1, 7, 9, 6, 4, 6, 5, 1, 4, 5, 9, 10, 1, 1, 9, 3, 10, 5, 10, 6, 2, 5, 1, 2, 1, 2, 3, 6, 10, 10, 1, 2, 4, 4, 2, 1, 4, 6, 1, 7, 10, 3, 3, 9, 3, 9, 5, 3, 9, 8, 2, 9, 6, 10, 4, 1, 4, 8, 4, 1, 2, 6, 2, 3, 10]
                }
            }
        }
        
        
## Group Events Collection [/v1/groups/{group_id}/events?{&start_date,end_date,country}]

+ Parameters
    + group_id (string, required, `1`) - ID of the group.
    + start_date (string, required, `2015-10-01`) - Start date.
    + end_date (string, required, `2015-10-02`) - End date.
    + country (string, required, `UK`) - Two letter country code.

### Group events [GET]

+ Response 200 (application/json)

        {
            "country": "US",
            "group_id": "1",
            "from": "2015-10-11",
            "to": "2015-09-11",
            "events":
            [
                {"date": "2015-11-21", "app_id": "com.facebook.orca", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-22", "app_id": "com.facebook.katana", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-23", "app_id": "com.facebook.orca", "type": "description_hist", "value": "One two three four five six seven eight nine ten eleven bla bla", "old_value": "Zero"},
                {"date": "2015-11-24", "app_id": "com.facebook.katana", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-25", "app_id": "com.facebook.orca", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-26", "app_id": "com.facebook.katana", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-27", "app_id": "com.facebook.orca", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-28", "app_id": "com.facebook.katana", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-29", "app_id": "com.facebook.orca", "type": "description_hist", "value": "One", "old_value": "Zero"},
                {"date": "2015-11-30", "app_id": "com.facebook.katana", "type": "description_hist", "value": "One", "old_value": "Zero"}
            ]
        }

## Group Related Apps Collection [/v1/groups/{group_id}/related]

+ Parameters
    + group_id (string, required, `1`) - Group id for which we want related apps.


### List of related apps [GET]

+ Response 200 (application/json)
    
        {
            "group_id": "1",
            "related": [
            {
                "app_id": "com.facebook.katana",
                "app_name": "Facebook",
                "publisher_name": "Facebook",
                "publisher_id": "com.facebook",
                "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
            },
            {
                "app_id": "com.facebook.orca",
                "app_name": "Messenger",
                "publisher_name": "Facebook",
                "publisher_id": "com.facebook",
                "icon_url": "https://lh5.ggpht.com/0VYAvZLR9YhosF-thqm8xl8EWsCfrEY_uk2og2f59K8IOx5TfPsXjFVwxaHVnUbuEjc=w300"
                
            }]
        }
